@media screen and (max-width: 1900px)
   .header .tree1
      left: -9%
@media screen and (max-width: 1600px)
   .header .tree1
      left: -8%
      z-index: -1
   .header .tree2
      z-index: -1
@media screen and (max-width: 1400px)
   .header .tree1
      left: -18%
   .header__fig 
      top: -220px
      left: -33%
      z-index: -2
   .header .tree1 
      left: -26%
      z-index: -1
   .header .tree2
      z-index: -2
   .key .tree 
      right: -68px
      top: -185px
   .case .tree, .team .tree, .call .van__fig, .call .tree
      display: none
@media screen and (max-width: 1199px)
   .cat__fig 
      z-index: -2
      width: 41%
   .tree, .van__fig, .van__fig2, .header__fig
      display: none
   .nav 
      .nav__info, .nav__box ul
         display: none
   .menu-btn 
      width: 48px
      height: 24px
      position: absolute
      right: 34px
      top: 44px
      z-index: 25
      overflow: hidden
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: black
      transition: all 0.5s
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 38px
      height: 2px
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 38px
      height: 2px
   .links
      right: -70px
   .links__info
      position: relative
      left: -37px
   .header__pic 
      right: 33px
      top: -148px
      opacity: 0.2
      width: 100%
   .header__box
      margin-top: 60px
   .header__flex
      padding-right: 0
   .header__area p
      font-size: 14px
   .van__item
      width: 49.2%
   .van__item:nth-child(5) .van__top
      margin-left: 0
   .header__row
      margin-top: 60px
   .info__block:last-child
      padding-left: 14px
   .menu 
      position: fixed
      top: 0
      right: 0
      width: 100%
      height: 100%
      padding: 60px 40px 40px
      background: white
      transform: translateX(500%)
      transition: transform 0.5s
      z-index: 7
      overflow: hidden
      -webkit-box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      -moz-box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      li 
         margin-bottom: 25px
         a 
            color: #000
            font-size: 18px
      .nav__info
         display: flex
      .nav__content p
         display: none
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 30px
      top: 30px
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
   .sale .swiper1 .tabs__nav
      margin-bottom: 30px
   .sale__box
      flex-direction: column
      align-items: center
   .sale__box .tabs__nav
      margin-right: 0
      margin-bottom: 20px
      text-align: center
   .sale__box .tabs__nav button
      width: 100%
   .cat__pic 
      top: 35px
      right: -184px
      z-index: -1
      width: 72%
   .present__box
      margin-top: 60px
      flex-wrap: wrap 
      justify-content: center
   .present__item
      margin: 10px
   .exist__box
      margin-top: 60px
      flex-direction: column
      align-items: center
   .exist__content
      margin-left: 0
   .exist-area__pic 
      right: -132px
      bottom: 59px
      width: 39%
   .rate__table
      overflow-x: auto
   .rate__top, .rate__row 
      width: 1197px
   .calc__box
      margin-right: 40px
   .area h2
      margin-bottom: 40px
   .area__item:first-child
      p
         margin-left: 18px
      img 
         left: 20px
   .area__row
      padding: 0
   .area__item p
      font-size: 20px
   .area__item
      flex-direction: column
      text-align: center
   .area__item img 
      top: -24px
      margin: 0 auto
      left: 10px
   .van2 .van__box
      margin-top: 60px
   .van2 .van__item
      height: auto
   .pay__box
      flex-direction: column
   .pay__pic
      width: 100%
      margin-right: 0
      margin-bottom: 20px
   .stage__item
      height: auto
   .stage__item span 
      font-size: 33px
      top: 9px
      right: 14px
   .key__box
      flex-direction: column
   .key__box img
      width: 100%
      margin-right: 0
      margin-bottom: 20px
   .case .swiper3 .swiper4, .case .swiper3 .swiper444, .case .swiper3 .swiper4444, .case .swiper3 .swiper44
      height: 240px
   .case .sale__arr
      top: 208px
   .we h2
      margin-bottom: 40px
   .team__box
      flex-direction: column
      align-items: center
   .team__tabs
      margin-right: 0
      margin-bottom: 30px
   .team__tabs button
      text-align: center
   .team__sub
      margin-bottom: 30px
   .team__content 
      margin-left: 0
      margin-top: 30px
   .team__content li 
      align-items: center
      margin-bottom: 20px
   .team
      padding-bottom: 60px
   .call
      padding: 60px 0
   .call__content
      margin-right: 20px
   .more h2
      margin-bottom: 40px
   .more__item
      width: 49%
   .ser .sale__arr
      top: 212px
   .footer__pic
      display: none
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   h1 
      font-size: 37px
   .header__info h1 span
      margin-left: 0
   .header__flex
      margin-top: 40px
      flex-wrap: wrap
      position: relative
      left: -10px
   .header__area
      width: 33%
      text-align: center
      margin-bottom: 20px
   .header__pic
      right: 0
   .van
      padding: 40px 0
   .van__item
      height: auto
   h2 
      font-size: 32px
      margin-bottom: 25px
   .info__table
      overflow-x: auto 
   .info__row
      width: 930px
   .sale
      padding: 40px 0
   .sale__box .sub-tab-content.active, .sale__box .sub-tab-content2.active, .sale__box .sub-tab-content3.active, .sale__box .sub-tab-content4.active, .sale__box .sub-tab-content5.active, .sale__box .sub-tab-content6.active, .sale__box .sub-tab-content7.active, .sale__box .sub-tab-content8.active, .sale__box .sub-tab-content9.active
      flex-direction: column 
      align-items: center
   .sale__content
      margin-left: 0
      max-width: 100%
      margin-top: 20px
   .sale__area
      max-width: 100%
   .sale__arr
      width: 30px
      height: 30px
      top: 121px
      .svg 
         width: 7px
   .cat__pic, .cat__fig 
      display: none
   .cat__box
      padding: 40px 20px
   .cat__title
      font-size: 30px
   .cat__sub
      font-size: 14px
   .cat__text
      font-size: 21px
      margin-bottom: 30px
   .cat
      padding: 40px 0
   .present
      padding: 40px 0
   .present__box
      margin-top: 30px
   .present__item
      width: 47%
      height: auto
   .present__item a
      margin-top: 30px
   .exist
      padding: 40px 0
   .exist__box
      margin-top: 40px
   .exist__name
      margin-bottom: 30px
   .exist-area
      margin-top: 60px
      padding: 40px 
   .exist-area h3
      font-size: 30px
      line-height: 120%
   .exist-area__list li
      width: 47%
      margin-bottom: 15px
      left: 0 !important
   .exist-area__pic
      bottom: 297px
   .exist-area__list
      margin-bottom: 25px
   .exist-area__text
      font-size: 14px
   .exist-area form
      flex-wrap: wrap
   .exist-area form button
      margin-top: 20px
   .exist-area__info
      margin-top: 15px
   .rate
      padding: 40px 0
   .rate__row
      height: 150px
   .calc
      padding: 40px 0
   .calc__pict
      display: none
   .calc__box
      margin-right: 0
      max-width: 100%
   .area__item p span
      font-size: 44px
   .area__item p
      margin-left: 0
   .area__item:first-child p
      margin-left: 0
   .area__item p
      font-size: 16px
   .area__item img
      max-height: 54px
   .van2 .van__box
      margin-top: 30px
   .sales h2
      margin-bottom: 30px
   .sales .sale__arr
      top: 54%
   .sales .swiper2 .swiper-slide
      height: 250px
      padding: 20px
   .sales .swiper2 .swiper-slide h3
      font-size: 18px
      line-height: 120%
   .sales .swiper2 .swiper-slide p
      font-size: 14px
   .sales
      padding: 40px 0
   .pay__pic
      display: none
   .pay__block
      padding: 40px 20px
   .pay__title
      font-size: 28px
   .pay__item
      img 
         max-width: 60px
   .pay__btn
      margin-top: 30px
   .pay
      padding: 40px 0
   .stage__item
      width: 48.5%
   .stage__item h3
      font-size: 18px
      line-height: 120%
      min-height: 52px
   .stage__item p
      font-size: 14px
   .stage__item span
      font-size: 24px
   .key
      padding: 40px 0
   .key__text
      font-size: 21px
   .case
      padding: 40px 0
   .case__text
      font-size: 14px
   .case h2
      margin-bottom: 25px
   .case__row p
      font-size: 14px
   .we
      padding: 40px 0
   .we img
      height: 300px
   .team__sub
      font-size: 20px
   .team h2
      margin-bottom: 25px
   .team__content li p 
      margin-left: 11px
      font-size: 14px
   .team__content
      margin-top: 20px
   .team__content li img 
      width: 35px
   .team__content li
      margin-bottom: 10px
   .faq .accordeon__button
      font-size: 16px
      padding-left: 80px
   .faq .panel__text, .faq .panel__text2
      padding-left: 80px
      font-size: 14px
   .faq
      padding: 40px 0
   .call
      padding: 40px 0
   .call__area
      margin-bottom: 10px
      font-size: 18px
   .call__content
      margin-right: 0
   .call__title
      font-size: 18px
      margin-bottom: 15px
   .call__content ul li
      font-size: 13px
   .call__one
      font-size: 14px
      margin-bottom: 30px
   .call__box
      flex-direction: column
   .call__info
      margin-top: 20px
   .rev h2
      margin-bottom: 40px
   .rev__name, .rev__sub, .rev__flex p, .rev__text, .rev .swiper9 a
      font-size: 18px
      line-height: 120%
   .rev__text
      margin-bottom: 25px
   .rev .sale__arr
      top: 147px
   .rev
      padding: 40px 0
   .ser
      padding: 40px 0
   .footer
      padding: 40px 0
   .footer__box
      flex-direction: column
   .footer .nav__info
      margin: 20px 0 30px
   .footer #map
      height: 300px
      width: 100%
      margin-top: 25px
   .ser .swiper10
      height: 250px
   .ser .sale__arr
      top: 170px
   .calc__text
      font-size: 18px
   .calc__num
      font-size: 30px
   .popup__pic, .popup__pic2 
      display: none
   .popup
      width: 80%
   .popup__bg.active, .popup__bg2.active
      z-index: 2000
   .popup form input
      width: 50%
   .close-popup
      path 
         stroke: black
@media screen and (max-width: 767px)
   .links 
      right: 0
      top: inherit
      bottom: 5px
      display: flex
      width: 100%
      justify-content: space-between
   .links__info
      display: none !important
   .links a
      width: 49%
      height: 43px
      justify-content: center
      margin-bottom: 0 !important
      br 
         display: none
   .header__row
      margin-top: 40px
      flex-direction: column
   .header__item
      margin-right: 0
      margin-bottom: 30px
   .header
      padding-bottom: 30px
   .van__top
      flex-direction: column 
      align-items: center
   .van__top p
      text-align: center
      font-size: 18px
      line-height: 120%
      width: 80%
      margin: 10px auto 0
   .van__text
      font-size: 14px
   .van__item
      padding: 30px 20px
      width: 48.4%
   h2 
      font-size: 28px
   .cat__title
      line-height: 106% 
      font-size: 28px
   .cat__text
      font-size: 16px
   .present__item
      width: 100%
      margin-bottom: 10px
      padding: 30px 20px
   .exist__pic
      width: 100%
      height: auto
   .exist__content
      margin-top: 20px
      max-width: 100%
   .exist-area
      padding: 30px 20px
   .exist-area h3
      font-size: 28px
   .exist-area__pic
      display: none
   .exist-area form input
      width: 45%
   .calc .calc__five input
      width: 100%
      margin-right: 0
   .area__item p
      font-size: 12px
   .area__item p span
      font-size: 30px
   .area__item img
      max-height: 40px
   .van2 .van__item
      padding: 30px 20px
   .van2 .van__top p
      font-size: 17px
      line-height: 120%
   .sales
      padding: 20px 0 40px
   .sales .swiper2 .swiper-slide
      height: auto
   .sales .swiper2 .swiper-slide a
      margin-top: 25px
   .pay__item
      flex-direction: column 
      align-items: center
   .pay__item p
      margin-left: 0 
      font-size: 26px
      text-align: center
      margin-top: 10px
   .pay__item img
      max-width: 42px
   .pay__title
      font-size: 24px
      line-height: 120%
      text-align: center
   .pay__item p span
      font-size: 14px
   .pay__row
      justify-content: space-around
   .pay__btn
      margin: 25px auto 0
   .stage__item
      padding: 30px 20px
   .key__text
      font-size: 18px
   .faq .accordeon__button
      height: auto
      padding: 10px 40px 10px 80px
   .faq .accordeon__button:after
      top: 50%
      margin-top: -13px
   .faq .accordeon__button.active:after
      top: 0
      margin-top: -9px
   .call__area
      line-height: 110%
   .call__form
      flex-direction: column
   .call__form input
      margin-right: 0
      margin-bottom: 10px
      width: 100%
   .call__form button
      width: 100%
   .rev 
      .sale__arr
         left: -27px
      .swiper-button-next9
         right: -27px
         left: inherit
   .ser
      padding: 20px 0 40px
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .nav
      padding: 20px 0
   .nav__logo 
      width: 150px
      img 
         width: 100%
         object-fit: contain
   .menu-btn, .menu-btn.active
      right: 10px
      top: 22px
   .van__item:nth-child(5) .van__top p
      margin-left: auto
   .menu
      padding: 60px 20px
      .nav__socials
         margin-left: 0
         margin-top: 20px
         justify-content: flex-start
      .nav__content
         margin-left: 0
   .menu .nav__info
      flex-direction: column
   .links a
      padding-left: 0
      p 
         margin-left: 4px
         font-size: 12px
         line-height: 12px
      .svg 
         width: 25px
   .header__box
      margin-top: 30px
   .header__info h1 
      margin-bottom: 20px
      font-size: 28px
   .header__pic 
      right: -64px
      top: -41px
      width: 140%
   .header__info p
      font-size: 18px
   .header__btn
      width: 100%
   .header__link
      width: 100%
      justify-content: center
      padding-left: 0
   .header__area
      width: 48%
   .header__flex
      left: 0
      margin-top: 20px
   h2 
      font-size: 24px
      margin-bottom: 30px
   .van
      padding: 20px 0
   .van__box
      margin-top: 30px
   .van__item
      width: 100%
   .info
      padding: 33px 0
   .sale .swiper1 .swiper-wrapper .swiper-slide:nth-child(2)
      top: -4px
   .sale__arr
      top: 157px
      left: -10px
   .sale 
      padding: 40px 0 20px
      .swiper-button-next1
         right: -10px
   .sale__box .tabs__nav
      max-width: 100%
   .sale__pic
      width: 100%
   .sale__row
      flex-direction: column
      margin-top: -40px
   .sale__row div:first-child
      margin-bottom: 10px
   .sale__flex
      flex-direction: column
   .sale__info
      margin-top: 10px
   .sale__text
      font-size: 14px
      text-align: center
      line-height: 100%
   .sale__bottom
      margin-top: 15px
      text-align: center
      flex-direction: column
   .sale__btn
      width: 100%
      margin-bottom: 15px
   .sale__content h3
      font-size: 21px
      text-align: center
      line-height: 110%
      margin-bottom: 30px
   .sale__el
      flex-direction: column
   .sale__char div
      margin-left: 0
      margin-top: 0px
   .sale__char
      margin-top: 10px
   .sale__content
      padding: 30px 20px
   .cat__box
      padding: 30px 20px
   .cat__title
      margin-bottom: 20px
   .cat__text 
      font-size: 14px
      width: 100%
      border: none
      text-decoration: underline
      margin-bottom: 20px
   .cat__row .tab-btn55, .cat__row a
      img
         width: 40px
   .cat__row
      flex-direction: column
      align-items: flex-start
   .cat__row .tab-btn55
      margin-right: 0
      margin-bottom: 10px
   .cat__form
      flex-direction: column
   .cat__form input
      margin-right: 0
      max-width: 100%
      width: 100%
      margin-bottom: 10px
   .cat__form button
      width: 100%
   .cat__area
      margin-top: 15px
      br 
         display: none
   .exist-area__info, .call__sub
      br 
         display: none
   .team__tabs
      max-width: 100%
   .call__content ul li
      align-items: flex-start
      &::before
         margin-top: 9px
   .present
      padding: 20px 0 30px
   .present__box
      margin-top: 20px
   .present__item a
      width: 100%
   .exist
      padding: 20px 0 30px
   .exist__name
      font-size: 24px
      line-height: 110%
      margin-bottom: 20px
   .exist__text
      font-size: 18px
   .exist-area h3
      font-size: 23px
      margin-bottom: 15px
   .exist-area__list li
      width: 100%
   .exist-area__list
      margin-bottom: 15px
   .exist-area__text
      margin-bottom: 20px
   .exist-area form input
      width: 100%
      margin-right: 0
      margin-bottom: 10px
   .exist-area form button
      margin-top: 0px
      font-size: 14px
      width: 100%
   .rate
      padding: 30px 0
   .calc
      padding: 30px 0
   .calc__text
      font-size: 16px
   .calc__name
      font-size: 18px
   .calc .custom-checkbox + label
      font-size: 14px
   .calc__item
      width: 100%
   .calc__btn
      width: 100%
   .calc__buttons
      flex-direction: column-reverse
   .calc__prev
      top: 0
      margin-top: 20px
   .calc .calc__five input
      margin-bottom: 10px
   .area__row
      flex-wrap: wrap
   .area__item
      width: 48%
      margin-bottom: 30px
   .area__item p
      margin: 0 auto !important
   .area__item img
      left: 0
      top: -10px
   .area__item:first-child img
      left: 7px
   .area__item
      &:nth-child(2)
         img
            left: 5px
   .van2 .van__item
      margin-bottom: 15px
   .sales
      .sale__arr
         left: -13px
      .swiper-button-next2
         right: -13px
         left: inherit
   .sales .swiper2 .swiper-slide a
      width: 100%
   .pay__block
      padding: 30px 20px
   .pay__title
      font-size: 21px
   .pay__row
      justify-content: space-between
   .stage
      padding: 30px 0
   .stage__item
      width: 100%
      margin-bottom: 15px
   .stage__item h3
      min-height: auto
   .key
      padding: 30px 0
   .key__box img
      height: auto
   .key__content h2
      margin-bottom: 20px
   .key__flex
      margin-top: 20px
      flex-direction: column
   .key__btn
      width: 100%
      margin-right: 0
      margin-bottom: 10px  
   .case
      padding: 30px 0
   .case .swiper3 .swiper4, .case .swiper3 .swiper444, .case .swiper3 .swiper4444, .case .swiper3 .swiper44
      height: 220px
   .case .sale__arr
      top: 152px
   .case__content p
      font-size: 20px
      line-height: 110%
      margin-bottom: 20px
   .case__content a
      width: 100%
   .we
      padding: 30px 0
   .we h2
      margin-bottom: 20px
   .we img
      height: 240px
   .team
      padding-bottom: 30px
   .team h2
      margin-bottom: 20px
   .team__sub
      font-size: 18px
      margin-bottom: 20px
   .team__tabs button
      font-size: 21px
   .team__name
      font-size: 18px
   .team__info
      font-size: 14px
      line-height: 110%
   .team__years
      font-size: 14px
   .team__item
      padding: 20px 10px
   .faq .panel__text, .faq .panel__text2
      padding-left: 20px
   .call h2
      margin-bottom: 20px
   .call__content
      margin-top: 20px
   .call__one
      margin-bottom: 20px
   .call__info img
      width: 100%
      margin-bottom: 20px
   .rev__yan 
      position: relative
      right: 0
      top: 0
      margin: 0 auto 20px
      display: block
   .rev .sale__arr
      top: 190px
   .rev__text
      margin-bottom: 20px
   .rev
      .sale__arr
         left: -10px
      .swiper-button-next9
         right: -10px
         left: inherit
   .rev__name, .rev__sub, .rev__flex p, .rev__text, .rev .swiper9 a
      font-size: 17px
   .more
      padding: 30px 0
   .more h2
      margin-bottom: 25px
   .more__item
      width: 100%
      margin-bottom: 15px
      padding: 20px
      height: auto
   .ser .swiper10
      height: 200px
   .ser
      .sale__arr
         left: 5px
      .swiper-button-next10
         right: 5px
         left: inherit
   .footer__flex
      flex-direction: column
   .footer__logo
      margin-bottom: 30px
   .footer .nav__tel:first-child
      margin-right: 0
      margin-bottom: 20px
   .footer #map
      height: 250px
   .popup
      width: 90%
      padding: 20px
   .popup__title
      font-size: 24px
      margin-bottom: 15px
   .popup__text
      font-size: 14px
      margin-bottom: 20px
      line-height: 110%
      br
         display: none
   .popup__flex
      flex-direction: column
      margin-bottom: 0
   .popup form input
      width: 100%
      margin-bottom: 10px
   .popup form input:first-child
      margin-right: 0
   .popup__row
      flex-direction: column
   .popup__row button
      width: 100%
      margin-bottom: 10px
   .popup__row p
      margin-left: 0
   .van__text
      text-align: center
   .exist__btn
      width: 100%
      text-align: center
   .ser .sale__arr
      top: 140px
   .nav 
      .nav__info
         display: block
      .nav__content p, .nav__socials, .nav__tel p
         display: none
      .nav__tel a
         font-size: 14px
         margin-right: 62px
   .menu
      .nav__info, .nav__socials
         display: flex
      .nav__content p
         display: none
      .nav__tel a
         display: block
         margin: 20px 0
         font-size: 18px
   .close-popup 
      top: 12px
      right: 10px
      width: 16px
      height: 19px
   .popup__row p
      max-width: 100%
@media screen and (max-width: 375px)
   .nav__logo
      width: 110px
   .nav .nav__tel a 
      font-size: 12px
      margin-right: 59px
   .nav
      padding: 23px 0