// @media screen and (max-width: 1300px)
@media screen and (max-width: 1199px)
   .menu-btn 
      width: 48px
      height: 24px
      position: absolute
      right: 34px
      top: 44px
      z-index: 11
      overflow: hidden
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $green
      transition: all 0.5s
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 38px
      height: 2px
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 38px
      height: 2px
   .menu 
      position: fixed
      top: 0
      right: 0
      width: 40%
      height: 100%
      padding: 60px 40px 40px
      background: white
      transform: translateX(500%)
      transition: transform 0.5s
      z-index: 7
      overflow: hidden
      -webkit-box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      -moz-box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 30px
      top: 30px
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
// @media screen and (max-width: 767px)
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important